nav.navbar{
    background-color: var(--bg);
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
    .nav-link{
        color: var(--primary);
        border-bottom: 3px solid transparent;
        transition: ease-in-out .4s;
        padding-bottom: 20px;
        padding-bottom: 5px;
        &:hover{
            border-bottom: 3px solid var(--primary);
        }
        
        
    }
    
    
    .navbar-brand{
        color: var(--primary);
    }
}
.navbar-toggler-icon{
    color: var(--primary)
}



.regular{
    font-size: 1.4rem;
    transition: ease-in-out .5s;
}
.enlarge{
    font-size: 2rem;
    transition: ease-in-out .5s;
}

