div.home-header{
    height: 60vh;
    background: url('https://cdn.pixabay.com/photo/2016/10/11/21/43/geometric-1732847_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    width: 100%;
}
.background-1{
    height: 40vh;
    background: url('https://cdn.pixabay.com/photo/2020/03/06/22/10/zakynthos-4908247_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}  

.noteboard{
    background-color: var(--bg);
}