{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section class="m-5 p-5 center">
    <div class="row  justify-content-around text-center">
        <div class="col-md-4 my-4">
            <a href="https://jquery.com/">
                <img class="p-3" src="https://jquery.com/jquery-wp-content/themes/jquery/images/logo-jquery.png" style="background-color: black;" alt="">

            </a>
        </div>
        <div class="col-md-4 my-4">
            <a href="https://getbootstrap.com/">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1200px-Bootstrap_logo.svg.png" style="width:100px" alt="">

            </a>
        </div>
        <div class="col-md-4 my-4">
            <img src="https://jquery.com/jquery-wp-content/themes/jquery/images/logo-jquery.png" alt="">
        </div>
    </div>
    
</section>

{% endblock %}

