.card-shadow{
    padding: 2rem;
    border: none;
    -webkit-box-shadow: 5px 5px 21px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 21px -12px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 21px -12px rgba(0,0,0,0.75);
    background-color: var(--bg-panel);
}
.card{
    background-color: var(--bg-panel);
    border: none;
    -webkit-box-shadow: 5px 5px 21px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 21px -12px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 21px -12px rgba(0,0,0,0.75);
}