{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section>
<div class="card notebook m-3 p-4">
    <div class="d-flex justify-content-between">
        <h3 class="m-4">Noteboard</h3>
        <div class="row justify-content-end my-3">
            <a href="" class="btn btn-primary m-2 ">test</a>
            <a href="" class="btn btn-primary m-2">test</a>
            <a href="" class="btn btn-primary m-2">test</a>
            <a href="" class="btn btn-primary m-2">test</a>
            <a href="" class="btn btn-primary m-2">test</a>
            <a href="" class="btn btn-primary m-2">test</a>
            <a href="" class="btn btn-primary m-2">test</a>
            <a href="" class="btn btn-primary m-2 ">test</a>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-md-2">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action ">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
            </div>
        </div>
        <div class="col-md-10">
        <div class="noteboard d-flex align-content-start flex-wrap p-0" style="height: 80vh;">
            <div class="m-3 d-flex align-items-start" style="height: 100px; width: 100px; background-color: red;"></div>
            <div class="m-3 d-flex align-items-start" style="height: 100px; width: 100px; background-color: red;"></div>
            <div class="m-3 d-flex align-items-start" style="height: 100px; width: 100px; background-color: red;"></div>
            <div class="m-3 d-flex align-items-start" style="height: 100px; width: 100px; background-color: red;"></div>
            <div class="m-3 d-flex align-items-start" style="height: 100px; width: 100px; background-color: red;"></div>
            <div class="m-3 d-flex align-items-start" style="height: 100px; width: 100px; background-color: red;"></div>
            <div class="m-3 d-flex align-items-start" style="height: 100px; width: 100px; background-color: red;"></div>
            <div class="m-3 d-flex align-items-start" style="height: 100px; width: 100px; background-color: red;"></div>
            <div class="m-3 d-flex align-items-start" style="height: 100px; width: 100px; background-color: red;"></div>
            <div class="m-3 d-flex align-items-start" style="height: 100px; width: 100px; background-color: red;"></div>
            <div class="m-3 d-flex align-items-start" style="height: 100px; width: 100px; background-color: red;"></div>
            <div class="m-3 d-flex align-items-start" style="height: 100px; width: 100px; background-color: red;"></div>
            <div class="m-3 d-flex align-items-start" style="height: 100px; width: 100px; background-color: red;"></div>
            <div class="m-3 d-flex align-items-start" style="height: 100px; width: 100px; background-color: red;"></div>
            <div class="m-3 d-flex align-items-start" style="height: 100px; width: 100px; background-color: red;"></div>
            <div class="m-3 d-flex align-items-start" style="height: 100px; width: 100px; background-color: red;"></div>
            <div class="m-3 d-flex align-items-start" style="height: 100px; width: 100px; background-color: red;"></div>
        </div>
        </div>

    </div>
</div>
    
</section>
{% endblock %}

